# Nemesis Framework .gitignore
/vendor/
/.env
/database/*.sqlite
/database/*.sqlite-shm
/database/*.sqlite-wal
/storage/cache/*
/storage/logs/*
/storage/framework/views/*
/storage/framework/
/storage/views/*
/storage/framework/down
/test_result.txt
/test_results.log
/test.php
/public/storage
/public/docs.html
.phpunit.result.cache
*.sql
*.log
.DS_Store
*.txt
!plan_v6.txt
!phases_plan.txt
!draft_Plan.txt
.claude
*.bak
CLAUDE.md
/tests/*.md
/tests/**/*.md
success-phase-*
*_PLAN.*
PLANS_*
plan_*
draft_*
